.requestform{
   display: block;
   position: fixed;
   bottom: 50px;
   right: 30px;
   background-color:  hsla(0, 0%, 100%, 0.8);
   border-radius: 20px;
   padding: 10px;
   border: rgb(79, 79, 79) solid 0px;
   box-shadow: 2px 3px 8px rgb(60, 60, 60);
}

.caption {
   font-weight: 500;
   font-size: 18px;
   padding: 0px;
   margin-bottom: 20px;
   margin-top: -40px;
}

.formitem {
   margin-bottom: 20px;
}

.formclosebutton{
   margin-left: 90%;
   
}

:global(.ant-form-item-explain){
   margin-top: -20px !important; 
   margin-bottom: 10px !important; 
}

@media screen and (min-width: 570px) {
   .formclosebutton{
      margin-left: 130%;
   } 
}

:global(.ant-form-item ){
   margin-bottom: 0px !important; 
}